h1{
   color: rgb(88, 146, 148);
   margin-left: 625px;
   font-size: 50px;
   position: relative;
}
h1::before {
   content: "";
   position: absolute;
   left: -10px;
   height: 3px;
   width: 250px;
   border-radius: 5px;
   background: linear-gradient(135deg, rgb(154, 199, 202)70%, rgb(120, 135, 139));
bottom: 0;}
.all{
width: 468px;
height: 468px;
background-color: cadetblue;
margin: auto;    /*make it in the center*/
display: flex;
flex-wrap: wrap;
}
.h{
width: 150px;
height: 150px;
background-color: rgb(79, 93, 97);
font-size: 130px;
color: cadetblue;
margin: 3px;
font-family: sans-serif;
text-align: center;
}
#l{
background-color: cadetblue;
color: rgb(79, 93, 97);
width: 370px;
height: 70px;
font-size: 60px;
margin: auto;
border-radius: 5px ;
text-align: center;
margin-top: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/**/